<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<section class="jumbotron text-center">
    <div class="container">

        <p class="lead text-muted mb-0">SOBRE NOSOTROS!</p>
    </div>
</section>

<section class="jumbotron text-left">
    <div class="container">
       <div class="list-group" id="list-tab" role="tablist">
        <h3>Perfil</h3>
        <a>Somos Check Your List, una empresa con agilidad en el Negocio, ser productivo en detectar los riesgos del negocio siempre enfocado en los requerimientos generales del cliente, Te ayudamos en aumentar la productividad, con flexibilidad, calidad de servicio </a>
      </div>
    
    <div class="list-group" id="list-tab" role="tablist">
      <h3>Como es posible</h3>
        <a>Establecemos como política de calidad donde entreguemos el mejor servicio, satisfaciendo los requerimientos de nuestros clientes en el desarrollo de proyectos y asesorando en la mejor inversión sobre la tecnología e innovación..</a>
    </div>
    <div class="list-group" id="list-tab" role="tablist">
      <h3>Quienes somos</h3>
        <a>Somos una red de diferentes tipos de consultores  con experiencia , encontramos la mejor alternativa a la solución que necesitan nuestros Partner, tenemos como objetivo ser un puente hacia la revolución digital.Para esto contamos con el equipo multidisciplinario, comprometido, pro activo, capacitado y competente con el fin de lograr el mejoramiento continuo de nuestros servicios </a>
    </div>
 
    </div>
</section>
