<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<section class="jumbotron text-center">
    <div class="container">
        <p class="lead text-muted mb-0">CONTACTANOS !</p>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> CONTACTANOS.
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">NOMBRE</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Ingresar Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-MAIL</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar Correo Electrónico" required>
                            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">MENSAJE</label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-primary text-right">ENVIAR</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> DIRECCIÓN</div>
                <div class="card-body">
                    <p>Psj Jorge Alessandri</p>
                    <p>#467 Villa Buenos Aire</p>
                    <p>San Bernardo</p>
                    <p>Email : j.gonzalez@outlook.cl</p>
                    <p>Tel. +569 63756400</p>

                </div>

            </div>
        </div>
    </div>
</div>