<% if signed_in? %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <ul class="nav nav-pills nav-stacked" style="border-right:2px solid black">
            <!--<li class="nav-header"></li>-->
            <li><a href="/../../welcome/index"><i class="fab fa-sketch"></i> Inicio</a></li>
            <li><a href="/../../clientes"><i class="fa fa-child" aria-hidden="true"></i> Administrar Clientes</a></li>
            <li><a href="/../../profesionales"><i class="fa fa-male" aria-hidden="true"></i> Administrar Profesionales</a></li>
            <li><a href="/../../actividades"><i class="fa fa-file-text-o" aria-hidden="true"></i> Administrar Actividades</a></li>
            <li><a href="#"><i class="fa fa-file" aria-hidden="true"></i> Contratos</a></li>
            <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar Informes</a></li>
            <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar Reporte</a></li>
        </ul>
    </div><!-- /span-3 -->
    <div class="container-fluid" style="background-color: #EEEEEE;">
            
              <div class="row">
                <!-- Content Column -->
                <div class="col-lg-6 mb-4">
                  <!-- Project Card Example -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Proyectos de CYL</h6>
                    </div>
                    <div class="card-body">
                      <h4 class="small font-weight-bold">Migración del servidor<span class="float-right">20%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h4 class="small font-weight-bold">Seguimiento <span class="float-right">40%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h4 class="small font-weight-bold">Base de datos de cliente<span class="float-right">60%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h4 class="small font-weight-bold">Detalles <span class="float-right">80%</span></h4>
                      <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h4 class="small font-weight-bold">Configuracion de cuenta<span class="float-right">Complete!</span></h4>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
    
                 
    
                </div>
    
                <div class="col-lg-6 mb-4">
    
                  <!-- Illustrations -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Perfil</h6>
                    </div>
                    <div class="card-body">
                      <p>Responsable de llevar a cabo las actividades necesarias para alcanzar las metas organizacionales; Controla, Ejecuta, Maneja, Analiza, Comunica, Vincula, Planifica, Lidera, Negocia, Motiva y toma Decisiones, entre muchas otras actividades</a>
                    </div>
                  </div>
    
                  <!-- Approach -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Deber</h6>
                    </div>
                    <div class="card-body">
                      <p>Administrar los recursos de una entidad, como así también la designación de puestos y tareas a los integrantes del personal.</p>
                      <p>Encargado solo y exclusivamente al trabajo administrativo, que está relacionado fuertemente con la parte financiera y económica de la empresa</p>
                    </div>
                  </div>
    
                </div>
              </div>
    
            </div>
</body>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
    } );
</script>
</html>

  <% else %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>CYL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">
    <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body id="boxi" style="background-image: Civil-engineering-wallpapers-4.jpg;">
    
<main role="main">

  <div class="jumbotron" >
    <div class="container">
      <h1 class="display-3">Hola Bienvenido a Check Your List!</h1>
      <p>Empresa compuesta por multiples profesionales donde entregan los mejores servicio satisfaciendo los requerimientos del cliente en el desarrollo , Check Your List cuenta con registro de profesionales que trabajen o que hallan trabajado y un historial de todas las acciones que se hayan realizado.</p>
    </div>
  </div>


  
<!------ Include the above in your HEAD tag ---------->



  <div class="container" style="background-color: #F8F9F9;>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Compromiso</h2>
        <p>Partimos en la capacidad que tiene el ser humano para tomar conciencia de la importancia que tiene cumplir con el desarrollo del trabajo dentro de un tiempo estipulado para ello </p>
     
      </div>
      <div class="col-md-4">
        <h2>Productividad</h2>
        <p>Como equipo nos enfocamos en el resultado de las acciones que se deben llevar a cabo para conseguir los objetivos </p>
        
      </div>
      <div class="col-md-4">
        <h2>Capacidad</h2>
        <p>Recursos y aptitudes que tenemos para desempeñar una determinada tarea o cometido.</p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container" style="align-content: center;">
  <p>&copy; Check Your List -2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
<% end %>